.container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 40rem;
}

.container > label {
    margin-bottom: 0.3rem;
}

.container > input {
    padding: 0.3rem;
}

.container > button {
    margin-top: 1rem;
    justify-content: center;
    width: 10rem;
    color: white;
    background-color: green;
    border: transparent;
    border-radius: 30px;
    padding: 0.5rem;
}